
<form action="/Home/UploadFile" method="post" enctype="multipart/form-data" >
    <input type="file" name="Upload" style="width:100%;margin:10px;font-size:1rem" />
    <button type="submit">Upload</button>
</form>